$blue: #5091f9;
$red: #9e363a;
$purple: #091f36;
$grey:  #575757;


@mixin tablet {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}
@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin button{
    background-color: white;
    text-decoration: unset;
    border: 2px solid ;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-bold;
    &:hover{
        color: white;
    }
    @content;
}

.blue{
    color: $blue;
}

.contact{
    height: 90vh;
    &__title{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    &__sub{
        margin-bottom: 4rem;
    }

    &__submit{
        display: flex;
        justify-content: space-between;
       
    }

    &__form{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet{
            width: 30%;
        }
    }

    textarea{
        padding: 10px;
        border: solid 2px $blue;
        border-radius: 20px;
        @include tablet{
            width: 48%
        }
    }

    input{
        border: solid 2px $blue;
        border-radius: 20px;
        padding: 5px;
    }

    
}